
<form method="post">
    <h1>Add New Plant</h1>
    <table>
        <tr>
            <td><label>Plant:</label></td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td><label>Number seeded:</label></td>
            <td><input type="text" name="Seeded" /></td>
        </tr>
        <tr>
            <td><label>Price:</label></td>
            <td><input type="text" name="Price" /></td>
        </tr>
        
    </table>
    <input type="hidden" name="Ready" value="0" />
    <input type="submit" value="Add" />
</form>
