@model SeedlingSales.ViewModels.AddViewModel

<form asp-controller="Home" asp-action="Add" method="post">
    <h1>Add New Plant</h1>
    <table>
        <tr>
            <td><label asp-for="Name"></label></td>
            <td><input asp-for="Name" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Seeded"></label></td>
            <td><input asp-for="Seeded" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Price"></label></td>
            <td><input asp-for="Price" class="form-control" /></td>
        </tr>
        
    </table>
    <input type="hidden" name="Ready" value="0" />
    <input type="submit" value="Add" />
</form>
