@model SeedlingSales.ViewModels.IndexViewModel

<h1>Current Stock</h1>
@if (Model.Plants.Count == 0)
{
    <p>No Plants Yet</p>
}
<table>
@foreach(var plant in Model.Plants)
    {
        <tr>
            <td>@plant.Name</td>
            <td>@plant.Seeded</td>
            <td>@plant.Ready</td>
            <td>@plant.Price</td>
        </tr>

    }
    </table>



<p><a asp-controller="Home" asp-action="Add">Add Plant</a></p>
