@model SeedlingSales.Models.Plant



<p>Are you sure you want to remove @Model.Name from the available plants?</p>
<table>
    <tr>
        <td>
            <form method="post" asp-action="RemovePlant">
                <input type="hidden" value="@Model.PlantID" name="removeplant" />
                <input type="submit" value="Yes" />
            </form>
        </td>
        <td>
            <form asp-controller="Home" asp-action="Index">
                <input type="submit" value="No" />
            </form>
        </td>
    </tr>
</table>